    <footer>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 order-md-12 text-light text-center text-md-right logo-area">
                    <a href="https://www.stb.gov.sg" target="_blank"><img src="{{url:site}}{{theme:path}}/img/stb-logo.png"></a>
                    <a href="https://kumparan.com" target="_blank"><img src="{{url:site}}{{theme:path}}/img/logo-kumparan.png"></a>
    			</div>
    			<div class="col-md-6 copyright text-light text-center text-md-left">
    				&copy; Copyright 2019 kumparan in a partnership with<br /> SINGAPORE TOURISM BOARD
    			</div>
    		</div>
    	</div>
    </footer>
</body>
</html>