<!-- tracker area -->
<!-- #1 Global site tag (gtag.js) - Google Ads: 863905599 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-863905599"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'AW-863905599');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKLL3GF');</script>
<!-- End Google Tag Manager -->

<!-- #2 cv tag retargeting -->
<script type="text/javascript">
  var _fout_queue = _fout_queue || {}; if (_fout_queue.segment === void 0) _fout_queue.segment = {};
  if (_fout_queue.segment.queue === void 0) _fout_queue.segment.queue = [];

  _fout_queue.segment.queue.push({
    'user_id': 36176,
    'advertiser_id': 5625,
    'contractor_id': 6
  });
  (function() {
    var el = document.createElement('script'); el.type = 'text/javascript'; el.async = true;
    el.src = (('https:' == document.location.protocol) ? 'https://' : 'http://') + 'js.fout.jp/segmentation.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(el, s);
  })();
</script>

<!-- #3 cv tag session -->
<script type="text/javascript">
(function() {
    var RFP = window.RFP = window.RFP || {}; RFP.ConvContext = RFP.ConvContext || {}; RFP.ConvContext.queue = RFP.ConvContext.queue || [];
    RFP.ConvContext.queue.push({
        "advertiser_id": 5625,
        "price": 0,
        "convtype": 0,
        "dat": ""
    });
    var el = document.createElement('script'); el.type = 'text/javascript'; el.async = true;
    el.src = (('https:' == document.location.protocol) ? 'https://' : 'http://') + 'js.rfp.fout.jp/rfp-conversion.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(el, s);
 })();
</script>

<!--- #4 Retargeting - Ads by Ambient Digital --->
<script type="text/javascript" src="https://ambientindo.cachefly.net/js/retargeting.js"></script>
<script type="text/javascript">
	try{
		AbdIDRetg.Retargeting({"id":1570525378});
	}catch(e){}
</script>
<!--- Retargeting - Ads by Ambient Digital --->

<!-- #5 remarketing tag 1 -->
<script src="https://genieedmp.com/dmp.js?c=4548&ver=2" async></script>